emall.vn {
    tls internal
    @api path /api/*
    reverse_proxy @api host.docker.internal:8080
    reverse_proxy host.docker.internal:8888
}

seller.emall.vn {
    tls internal
    reverse_proxy host.docker.internal:6789
}

moderator.emall.vn {
    tls internal
    reverse_proxy host.docker.internal:1111
}
