.git
.gitignore
.DS_Store
.vscode
.idea

**/node_modules
**/.next
**/.turbo
**/.cache
**/dist
**/build
**/coverage
**/tsconfig.tsbuildinfo

**/.env
**/.env.*
**/*.log
logs

docs
infrastructure/logging
infrastructure/monitoring
infrastructure/terraform

**/__tests__
**/*.test.*
**/*.spec.*
**/test
**/tests

README.md
