EXPO_PUBLIC_API_BASE_URL=https://api.dt-commerce.site/api/v1
EXPO_PUBLIC_CHAT_WS_BASE_URL=wss://api.dt-commerce.site/api/v1/chat/ws
EXPO_PUBLIC_LIVE_WS_BASE_URL=wss://api.dt-commerce.site/api/v1/live/ws
EXPO_PUBLIC_LIVE_HLS_BASE_URL=https://live-playback.dt-commerce.site
