APP_NAME=auth-service
APP_ENV=development
PORT=3001
API_PREFIX=api/v1

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/auth_db
DB_SSL=false

REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=replace-with-very-strong-access-secret-min-32chars
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=replace-with-very-strong-refresh-secret-min-32chars
JWT_REFRESH_EXPIRES_IN=30d
JWT_MFA_SECRET=replace-with-very-strong-mfa-secret-min-32chars
JWT_MFA_EXPIRES_IN=10m

REFRESH_TOKEN_PEPPER=replace-with-random-pepper-min-16chars
BCRYPT_SALT_ROUNDS=12
PASSWORD_MIN_LENGTH=10
EMAIL_VERIFY_TOKEN_TTL_MINUTES=60
RESET_PASSWORD_TOKEN_TTL_MINUTES=30

KAFKA_BROKERS=localhost:9092
USER_EVENTS_TOPIC=user.events
NOTIFICATION_EVENTS_TOPIC=notification.events
AUDIT_EVENTS_TOPIC=audit.events
